<article class="country-card">
  <header class="country-card__header country-title">
    <img src="" alt="">
    <h1></h1>
  </header>
  <dl class="country-card__info">
    <dt class="country-card__term">Capital</dt>
    <dd class="country-card__desc"></dd>
    <dt class="country-card__term">Population</dt>
    <dd class="country-card__desc"></dd>
    <dt class="country-card__term">Languages</dt>
    <dd class="country-card__desc"></dd>
  </dl>
</article>

<ul class="country-list">
  <li class="country-list__item">
    <img src="" alt="" class="country-list__img">
    <p class="country-list__text"></p>
  </li>
  <li class="country-list__item">
    <img src="" alt="" class="country-list__img">
    <p class="country-list__text"></p>
  </li>
  <li class="country-list__item">
    <img src="" alt="" class="country-list__img">
    <p class="country-list__text"></p>
  </li>
  <li class="country-list__item">
    <img src="" alt="" class="country-list__img">
    <p class="country-list__text"></p>
  </li>
  <li class="country-list__item">
    <img src="" alt="" class="country-list__img">
    <p class="country-list__text"></p>
  </li>
</ul>